$jab-green: #004638;
$jab-green-2: #046F48;

$white-five: #f0f0f0;
$dark: #101820;
$warm-grey: #9b9b9b;
$warm-grey-two: #888888;
$steel-grey: #7e8183;
$white-two: #d3d3d3;
$greyish: #b2b2b2;
$gunmetal: #4f5255;
$white: #ffffff;
$warm-grey-three: #979797;
$pinkish-grey: #c4c4c4;
$dark-grey: #212529;
$greyish-brown: #4a4a4a;
$alpha-grey: rgba(74, 73, 74, 0.3);
$dark-two: #0d1720;

$thumb-border: #CECECE;
$thumb-border-active: #BFA371;