body { 
  -webkit-font-smoothing: antialiased; 
  font-smoothing: antialiased; 
}

h1 {
  font-weight: 300;
  padding-bottom: 0.4rem;
  line-height: 1.3;
  margin-bottom: 0;
}

h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

h6 {
  margin-bottom: 5px;
}

sup {
  position: relative;
  top: 0.16rem;
}

.header-rule {
  position: relative;
  text-align: center;
  padding: 0 3px;
  margin: rem-calc(25 0 15 0);
  
  &::before {
    background-color: $primary-color;
    height: 4px;
    width: 100%;
    position: absolute;
    top: 10px;
    left: 0;
    content: "";
    z-index: -1000;
    transform: translateZ(0);
    @media #{$small-only} { 
      top: 8px;
    }
  }
}

.header-rule-text {
  background-color: #fff;
  padding: 0 0.5rem;
  margin-top: 0;
  font-size: 1.4rem;
  
  @media #{$small-only} { 
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.1;
  }
}

h2.header-rule::before { 
  top: 10px; 
}

p.back-link { 
  margin-bottom: 0; 
  text-align: left;
}

.text-link{
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: rem-calc(12);
  font-weight: 500;
  border-bottom: 1px dashed;
  display: inline;
  padding-bottom: 3px;
  
  &:hover {  
    opacity: 0.7;
  }
  
  &.small { 
    font-size: rem-calc(11); 
  }
  
  &.white { 
    color: #fff; 
  }
}

.inline-list {
  margin-left: 0px;
  margin-bottom: 0px;
  
  li {
    margin-left: 0 !important;
    margin-right: 1rem;
  }
}

ul.pagination {
  display: inline-block;
  margin: 1rem 0 1rem -0.3125rem;
}

p.lead {
  font-size: rem-calc(14);
  margin-top: 0;
  margin-bottom: 1.5rem;
  color: #000;
}

.home-lead {
  font-size: rem-calc(14);
  margin-top: 0;
  margin-bottom: 3rem;
  color: #000;
}
  
// home hero styles
.hero-text-container {
  max-width: 380px;
  display: block;
  right: 0;
  text-align: center;
  
  .lead { 
    color: #fff;   
  }
  
  @media #{$small-only} { 
    color: black;
    max-width: rem-calc(320); 
    padding-left: 0.3rem;
  }
}

// home hero styles
.hero-text-container2 {

  @media #{$small-only} { 
    margin: 0 auto;
    max-width: rem-calc(380);
    text-align: center;
    margin-bottom: 0.5em;
    margin-top: 1.5em;

      h1 {
      font-size: 0.5em;
    }
  }
}

//main hero
.hero-text {
  color: #fff;
  
  @media #{$small-only} { 
    font-size: 1.85rem;
    margin-bottom: 1rem;
  }
}

.hero-text1 {
  font-size: 2rem;
  letter-spacing: 1px;
  margin-bottom: 0.75rem;
  display: block;
  font-weight: 300;
  line-height: 1.4;
  
  @media #{$small-only} { 
    font-size: 1.85rem;
  }
}

.hero-text2 {
  font-size: 2.3rem;
  letter-spacing: 3px;
  display: block;
  color: black;
  
  @media #{$small-only} { 
    font-size: 1.85rem;
  }
}

//secondary hero
.secondary-hero-text-container {
  max-width: 380px; 
  display: block;
  text-align: center;
  
  &.text-block-right{
    float: right;
  }
  
  @media #{$small-only} { 
    max-width: 320px; 
    padding-left: 0.3rem;
  }
}

.secondary-hero-text {
  color: #fff;
  font-size: rem-calc(22);
  letter-spacing: 1px;
  display: block;
  font-weight: 300;
  line-height: 1.2;
}

.secondary-hero-text1 {
  margin-bottom: 0.75rem;

  @media #{$small-only} { 
    font-size: 1.85rem;
    margin-bottom: 0.5rem;
  }
}

.secondary-hero-text2 {

  @media #{$small-only} { 
    font-size: 1.85rem;
    margin-bottom: 0.5rem;
  }
}

// dividers
.hr-primary { 
  border: 2px solid $primary-color; 
}

// create account
.disclaimer-input {
  margin-left: 25px;
}

.disclaimer-text {
  font-size: 11px;
  margin-top: -5px;
  padding-left: 25px;
  color: $info-color;
}