@import "jab-colors";

// fonts
// @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
// TODO: replace with this for more weights
// https://www.fontsquirrel.com/fonts/montserrat

@import "fonts";

@import "settings";
// @import "foundation";
// import Foundation components
// Or selectively include components

@import"foundation/components/accordion";
@import"foundation/components/alert-boxes";
@import"foundation/components/block-grid";
@import"foundation/components/breadcrumbs";
@import"foundation/components/button-groups";
@import"foundation/components/buttons";
@import"foundation/components/clearing";
@import"foundation/components/dropdown";
@import"foundation/components/dropdown-buttons";
@import"foundation/components/flex-video";
@import"foundation/components/forms";
@import"foundation/components/grid";
@import"foundation/components/inline-lists";
@import"foundation/components/joyride";
@import"foundation/components/keystrokes";
@import"foundation/components/labels";
@import"foundation/components/magellan";
@import"foundation/components/orbit";
@import"foundation/components/pagination";
@import"foundation/components/panels";
@import"foundation/components/pricing-tables";
@import"foundation/components/progress-bars";
@import"foundation/components/reveal";
@import"foundation/components/side-nav";
@import"foundation/components/split-buttons";
@import"foundation/components/sub-nav";
@import"foundation/components/switches";
@import"foundation/components/tables";
@import"foundation/components/tabs";
@import"foundation/components/thumbs";
@import"foundation/components/tooltips";
@import"foundation/components/top-bar";
@import"foundation/components/type";
@import"foundation/components/offcanvas";
@import"foundation/components/visibility";

@import "typography";

@import "_foundation-icons";

//Util
@import "components/slick";

// Components
@import "components/util";

@import "components/alerts";
@import "components/buttons";
@import "components/checkout";
@import "components/confirmation";
@import "components/dropdown";
@import "components/error";
@import "components/filter";
@import "components/forms";
@import "components/footer";
@import "components/icons";
@import "components/mini-bag";
@import "components/navigation";
@import "components/package";
@import "components/product-detail";
@import "components/product-detail-accordion";
@import "components/product-detail-colors";
@import "components/product-image";
@import "components/product-recommended";
@import "components/order-summary";
@import "components/promotion-callout";
@import "components/rating";
@import "components/reserve-in-store";
@import "components/reviews";
@import "components/separate";
@import "components/shopping-bag";
@import "components/shopping-bag-modal";
@import "components/shopping-bag-saved-items";
@import "components/quick-view";




.outer-lines-wrapper {
  transition: all 1s;
  position: relative;
  text-align: center;
  margin-top: 15px;
  border-top: 1px solid $white-two;
}

.outer-lines {
  position: absolute;
  transform: translate(-50%,-50%);
  background:#fff;
  display: inline-block;
  border-left: solid 1px $white-two;
  border-right: solid 1px $white-two;
}




.progress.fit-chart {
  @include progress-container;
  position: relative;
  height: 22px;
  margin-bottom: 4px;
  padding: 0;
  border-left: solid 1px $warm-grey-three;
  border-right: solid 1px $warm-grey-three;
  background-color: transparent;
  &:before {
    content: '';
    position: absolute;
    top: 9px;
    height: 4px;
    right: 0;
    left: 0;
    background: $warm-grey-three;
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background: $warm-grey-three;
  }
  & > span {
    @include progress-meter;
    position: relative;
    background-color: transparent;
    border-right: solid 9px #013a2c;
    z-index: 1000;
  }
}

.fit-chart-label {
  font-size: rem-calc(10px);
  letter-spacing: 1.7px;
  color: $greyish-brown;
  text-transform: uppercase;
}

.star-chart {
  @extend .clearfix;
  .star-chart-heading {
    float: left;
    background:#fff;
    padding-right: 6px;
    font-size: rem-calc(12px);
    line-height: 2.2;
    color: $dark-two;
  }
  .progress.review {
    position: relative;
    overflow: hidden;
    top: 7px;
  }
  .star-chart-number {
    float: right;
    margin-top: 5px;
    padding-left: 6px;
    font-size: rem-calc(10px);
    color: $dark-two;
  }
}

.progress.review {
  @include progress-container;
  height: 12px;
  background-color: #d8d8d8 !important;
  padding: 0;
  background: none;
  & > span {
    @include progress-meter(#8a8a8a);
  }
}

.whitespace {
  margin: 0 16px;
}


.button.load-more {
  font-size: rem-calc(10px);
  line-height: 1.8;
  letter-spacing: 1.2px;
  color: #013a2c;
  text-transform: uppercase;
  // background: none !important;
  background:none;
  border: solid 1px #025b49;
  padding: 7px 90px;
}


// home prototype below
.promo-seperate-vertical {
  margin-top: 20px;
  margin-bottom: 20px;
}
.promo-seperate-horizontal {
  .columns {
    &:nth-child(1) {
      // border: solid 2px #f00;
      padding-right: 10px;
    }
    &:nth-last-child(1) {
      padding-left: 10px;
      // border: solid 2px #00f;
    }
  }
}

// filter below

section.filter {
  margin-top: 35px;
  h1 {
    margin-top: 0;
    font-size: rem-calc(14px);
    letter-spacing: 2px;
    color: $dark-grey;
    border-bottom: solid 0.5px #0c342c;
    padding-bottom: 7px;
    margin-bottom: 12px;
  }
  .banner img {
    margin-bottom: 30px;
  }

}  

// .filter-sidebar { }

.simple-menu { 
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 40px;
  li a { 
    font-weight: 300;
    font-size: rem-calc(14px);
    line-height: 2.3;
    letter-spacing: 1.2px;
    color: $dark-two;
  }
  li.active {
    padding-left: 20px;
    position: relative;
    &:before {
      position: absolute;
      content: '>';
      top: -2px;
      left: 0;
      transform:scale(0.5,1.0);
      font-size: rem-calc(22px);
      color: $jab-green;
    }
    a {
      color: $jab-green;
    }
  }
}

.filter-header {
  @include grid-row;
  margin-bottom: 25px;

  span {
    padding-top: 12px;
    font-size: rem-calc(10px);
    line-height: 1.8;
    letter-spacing: 0.7px;
    color: $steel-grey;
  }

  select {
    font-size: rem-calc(12px);
    line-height: 1;
    letter-spacing: 1px;
    color: $dark-grey;
    width: 200px;
    float: right;
  }
}

.filter-accordion {
  padding-top: 15px;
  padding-bottom: 5px;
  font-weight: 300;
  font-size: rem-calc(12px);
  line-height: 1;
  letter-spacing: 1px;
  color: $dark-two;
}

.filter-grid {

  @media #{$small-only} {
    @include block-grid(1, rem-calc(30px), true);
  }
  @media #{$medium-only} {
    @include block-grid(2, rem-calc(30px), true);
  }
  @media #{$large-up} {
    @include block-grid(3, rem-calc(30px), true);
  }

  .product-name {
    font-weight: 400;
    font-size: rem-calc(15px);
    line-height: 1.3;
    color: $dark;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }
  .product-price {
    margin-bottom: 3px;
    // margin-top: 9px;
  }

  .see-more-colors a {
    position: relative;
    top: -2px;
    font-size: rem-calc(8px);
    color: $greyish-brown !important;
  }

  .product-colors-grid {
    margin-top: 14px;
    margin-bottom: 2px;
    margin-left: 0;
    li {
      margin: 0;
      padding: 0;
    }
    img { 
      width: 35px;
      height: 14px;
      padding: 0 !important;
      margin-right: 0px !important;
      margin-bottom: 0px !important;
    }

  }

}

// override 

.breadcrumbs {
  padding: 0;
  margin-bottom: 15px;
}

