.account-members {
  margin-bottom: 2rem;
}

.account-leadin {
  p.lead { margin-bottom: 1rem; }
}

.account-modal {
  h1 { margin: 0; }
  
  h4 { 
    margin-bottom: rem-calc(6);
    font-size: rem-calc(14);
    font-weight: bold;
  }
  
  p.page-of {
    font-size: rem-calc(12);
    color: $info-color;
    margin-bottom: 0;
  }
  
  p.leadin {
    color: lighten($primary-color, 50%);
  }
  
  fieldset {
    border: none;
    padding: 0;
    margin-bottom: rem-calc(15);
  }

  label {
    font-weight: bold;
    margin-bottom: rem-calc(6);
  }

  input[type="radio"] + label {
    font-weight: 400;
    margin-bottom: 0;
  }
  
  ul.customize-list {
    @include block-grid(4, $block-grid-default-spacing, true);
    font-size: rem-calc(12);
    
    & li.active img {
      margin-bottom: 8px;
      border: solid 2px $primary-color;
    }
  }
  
  #account-who-else {   
    ul.member-list { 
      padding-bottom: 200px !important;
      @include inline-list();
      margin: 0;
      li {
        width: 25%;
        margin: 0;
        
        &:first-child {
          margin-left: 0;
        }
        
        &.active a {
          border:solid 1px $primary-color;
        }
        
        a {
          @include button($button-med, $secondary-color);
          display: block;
          margin: 5px;
          border: solid 1px #ddd;
          text-transform: none;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 2px;
        }
        
        a:hover { background: darken(white, 3%); }
      }
    } 
    
    span {
      padding-top: rem-calc(6);
      color: $info-color;
      font-weight: bold;
      font-size: 11px;
      margin-right: 10px;
    }
  }
  
  select {
    max-width: rem-calc(250);
    font-style: italic;
    // NOTE: did not style bg color for cross platform compatability
  }
}

.invite-message-buttons {
  display: none;
  a.button {
    float: right;  
    margin-right: rem-calc(10);
    margin-bottom: 0;
    padding-top: rem-calc(11);
    padding-bottom: rem-calc(12);
  }
}

.account-sidebar {
  @media #{$large} { padding-left: 30px; }
  h3 { margin-top: 4px; }
  .content p { 
    font-size: 13px !important ;
    margin-bottom: 1.5rem; 
  }
}

.reveal-modal .button, .reveal-modal:last-child { margin-bottom: 0; }

.reveal-modal {
  min-width: 800px;
  min-height: 600px;
  padding: 2rem;
  @media #{$small-only} {
    min-width: 200px;
    width: 100%;
    // height: 100%;
  }

}

.close-reveal-modal,
.close-reveal-modal img {
  height: 19px;
  width: 19px;
}
