.account-header {
  text-align: center;
  h1 { 
    margin-bottom: 0;
    text-align: center;
  }
  p {
    margin-bottom: 1rem;
  }
}

.panel.group-member {
  position: relative;
  overflow: hidden;
  img {
    border-left: 1px solid $info-color;
    border-bottom: 1px solid $info-color;
  }
  .progress-bar {
    padding-right: 0px;
    @media #{$medium-up} {
      padding-right: 20px;
    }
  }
}

.panel-groom {
  border: 2px solid #000;
  height: 10rem;
  @media #{$small-only} {
    height: rem-calc(180);
  }
}

.member-thumbnail {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
}