.event-item {
  border: 1px solid #000;
  height: 100px;
  padding: 20px;
  margin-bottom: 8px;
  &:hover {
    background: #fafafa;
  }
}

.event-item-title {
  display: inline;
}
.event-item-date {
  font-size: 1.5rem;
  color: $info-color;
  margin: -4px;
}
.account-nav {
  padding-top: 1.6rem;
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  li {
    list-style-type: none;
    text-transform: uppercase;
    line-height: 3;
    letter-spacing: 1px;
  }
  hr {
    margin: 0 0 0.6rem 0;
  }
  a {
    color: $info-color;
    &:hover {
      color: #000;
    }
  }
  .is-active {
  color: #000;
  font-weight: 500;
  }
}

.account-nav-mobile {
  margin-top: 1rem;
}

.saved-looks {
  .slim-fit-tag {
    color: #666;
    font-weight: 300;
    font-size: 0.2rem;
    padding: 0.2rem 0.2rem;
    letter-spacing: 0;
  }
}