.add-to-bag-cta {
  -webkit-transition: background 0.3s ease;
  -webkit-transition: border 0.3s ease;
  position: relative;
  max-width: 100%;
  transition: background 0.3s ease;
  width: 100%;
  bottom: 0;
  display: block;
  padding: 17px 12px;
  background: $callout-color;
  color: white;
  text-align: center;
  z-index: 9999;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: rem-calc(14);
  margin-left: -0.9375rem;
  border: 5px solid $callout-color;
  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid white;
  }
  &:hover,
  &:active,
  &:focus {
    -webkit-transition: background 0.3s ease;
    color: white;
    background: darken($callout-color, 10%);
    border: 5px solid darken($callout-color, 10%);
  }

  // On larger screens snap the add to bag cta back into the normal flow of the page
  @media #{$medium-up} {
    position: relative;
    margin-top: rem-calc(30px);
    margin-bottom: rem-calc(10px);
    margin-left: 0;
  }
}

// below is from _shopping-bag-saved-items.scss

// TODO: we need to add specificity here to prevent css pollution

// .add-to-bag-cta {
//   max-width: 130px;
//   position: relative;
//   padding: 5px;
//   border: none;
//   font-size: 10px;
//   letter-spacing: 1px;
//   margin-top: 0;
//   margin-bottom: 0;
// }
