.button {
  padding: 0.8rem 1.6rem 0.7rem;
	text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: rem-calc(13);

  &:hover {
    opacity: 1;
  }

  &.primary {
    background: $callout-color;
  }

  &.reverse {
    background: $white;
    border: 1px solid $callout-color;
    font-size: rem-calc(12);
    color: $callout-color;
  }
}

.secondary.button {
  display: inline-block;
}

.button-sticky {
  @media #{$small-only} {
    position: fixed;
    bottom: 0;
    margin: 0;
    margin-left: -15px;
    z-index: 100;
    width: 100%;
  }
}