.button {
	text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0.8rem 1.6rem 0.7rem;
  font-weight: 500;
  transition: opacity 300ms ease-out;
  font-size: rem-calc(13);
  &:hover { opacity: 0.85; }
  &.reverse {
    a{
      background-color: white;}
  }
  &.primary-reverse {
    background: $secondary-color;
    border: 1px solid white;
    font-size: rem-calc(12);
    color: $primary-color;
  }
  &.secondary-reverse {
    background: $primary-color;
    border: 1px solid white;
    font-size: rem-calc(12);
  }
  &.tabs-toggle {
    font-size: 10px;
    color: $primary-color;
    background: $white;
    border: 1px solid $primary-color;
    padding: 0.6rem 1rem 0.5rem;
    width: 100%;
    &.active {
      background-color: $primary-color;
      color: $white;
    }

  }
}
.secondary.button {
  display: inline-block;
}

.small.button {
  font-size: rem-calc(12);
}

.button-sticky {
  @media #{$small-only} {
    position: fixed;
    bottom: 0;
    margin: 0;
    margin-left: -15px;
    z-index: 100;
  }
}




