.button {
  padding: 0.8rem 1.6rem 0.7rem;
	text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: rem-calc(13);


  &.primary {
    background-color: $jab-green;
    font-size: rem-calc(15);
    margin: .4rem 0;
    padding: 10px ;
    position: relative;

    &:hover {
      background-color: $jab-green-2;
    }
  }
  &.primary:before {
    border: 5px solid $jab-green;
    content: "";
    position: absolute;
    top: -7px;
    bottom: -7px;
    left: -7px;
    right: -7px;

    &:hover {
      border: 5px solid $jab-green-2;
    }

  }

  &.reverse {
    background: $white;
    border: 1px solid $callout-color;
    font-size: rem-calc(12);
    color: $callout-color;
  }
}

.secondary.button {
  display: inline-block;
  padding: 1.1rem 0;
}

.button-sticky {
  @media #{$small-only} {
    position: fixed;
    bottom: 0;
    margin: 0;
    margin-left: -15px;
    z-index: 100;
    width: 100%;
  }
}
