.collapse-for-small {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.inline-header {
  display: inline;
}

.checkout-tabs-content {
  border-top: 1px solid $light-gray;
  padding-top: 30px;
}

@media #{$small-only} {
  .checkout-tabs-content {
    padding-top: 10px;
  }
}

.tabs.checkout-tabs {
  position: relative;
  top: 2px;

  a {
    font-size: 14px;
    font-weight: 300;
    background: #efefef;
    padding: 5px 0;
    outline: none;
  }

  .tab-title {
    width: auto;
    float: left;
    width: 33.33%;

    a {
      text-transform: none;
      text-align: center;
      outline: none;
    }
  }

  .tab-title.active {
    border: 1px solid $light-gray;
    border-bottom: 1px solid white;
  }
}

@media #{$small-only} {
  .checkout-tabs {
    margin-top: -2px;
  }
}

.tabs.checkout-toggle{
  a {
    font-size: 10px;
    background: white;
    border: 1px solid black;
    letter-spacing: 2px;
    outline: none;
  }

  .tab-title {
    width: 50%;
    text-align: center;
    
    &.active {      
      a {
        background: black;
        color: white;
        outline: none;
      }
    }
  }
}

.quantity-label.shipping-method-label {
  margin-bottom: 0;
  margin-top: 0;
}

.espot-placeholder {
  background: #f3f3f3;
  padding: 10px;

  p {
    opacity: 0.5;
  }
}

.checkout-continue-cta {
  margin-right: 10px;
}

.off-canvas-wrap {
  .is-faded {
    opacity: 0.1;
  }
}

.shipping-label {
  font-size: 12px;
  margin-bottom: 3px !important;

}

form {
  .checkout-dropdown {
    margin-top: 3px;
  }
}

.review-cta {
  width: 100%;
  display: none !important;
  
  &.is-active {
    display: block !important;
  }
}

//adjusting padding in shhipping accordions
.accordion .product-info-accordion .checkout-content {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.learn-more-info { 
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  top: -2px;
  position: relative;
}

.product-info-accordion.payment-accordion {
  padding-top: 0;
}

.perfectfit-description {
  margin-bottom: 5px;
}

.id-number-input {
  margin-bottom: 4px !important;
}

.postfix.button {
  margin-bottom: 0 !important;
}

.forgot-fit {
  margin-bottom: 20px;
  display: inline-block;
}

.center {
  left: 50%;
  transform: translateX(-50%);
}

.checkout-paypal-section {
  position: relative;

  .center {
    position: relative;
  }
}

.continue-paypal-link {
  text-align: center;
}

.paypal-image {
  display: block;
}

@media #{$small-only} {
  .norton-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.bag-edit-links.review-edit {
  opacity: 0.7;
  margin-right: 0;
  a {
    opacity: 0.7;
  }
}

//generic key value pairing
.key-value {
  list-style: none;

  li {
    @extend .clearfix;
    margin-bottom: 10px;
  }
  .key,
  .value {
    float: left;
  }

  .key {
    margin-right: 5px;
    margin-bottom: 0;
  }

  .value {
    opacity: 0.5;
    p {
      margin-bottom: 0;
    }
  }
}

.reivew-section-header {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-bottom: 4px;
  border-bottom: 1px solid gray;
}

.review-section-title {
  margin-bottom: 0 !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 500;
  top: 4px;
  position: relative;
}

.product-size {
  p {
    margin-bottom: 5px;
  }
}

.bag-item-selections {
  list-style: none;
  margin-bottom: 5px;
  padding-left: 10px;
  li {
    font-size: 11px;
    opacity: 0.5;
  }
}