.inline-header {
  display: inline;
}

.checkout-tabs-content {
  border-top: 1px solid $light-gray;
  padding-top: 30px;
}

.tabs.checkout-tabs {
  position: relative;
  top: 2px;

  a {
    font-size: 14px;
    font-weight: 300;
    background: #efefef;
    padding: 5px 0;
    outline: none;
  }

  .tab-title {
    width: auto;
    float: left;
    width: 33.33%;

    a {
      text-transform: none;
      text-align: center;
      outline: none;
    }
  }

  .tab-title.active {
    border: 1px solid $light-gray;
    border-bottom: 1px solid white;
  }
}

.tabs.checkout-toggle{
  a {
    font-size: 10px;
    background: white;
    border: 1px solid black;
    letter-spacing: 2px;
    outline: none;
  }

  .tab-title {
    width: 50%;
    text-align: center;
    
    &.active {      
      a {
        background: black;
        color: white;
        outline: none;
      }
    }
  }
}

.quantity-label.shipping-method-label {
  margin-bottom: 0;
  margin-top: 0;
}

.espot-placeholder {
  background: #f3f3f3;
  padding: 10px;

  p {
    opacity: 0.5;
  }
}