.collage{
  position: relative;
  width: 700px;
  margin: 0 auto;
}
.collage-item {
  &.primary{
    max-width: 320px;
    z-index: 100;
    position: relative;
    margin: 0 auto;
    @media #{$small-only} {
      margin: auto 0;
    }

    img { border: 1px solid #ddd; }
  }
  &.secondary {
    position: absolute;
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
    z-index: 1;
  }

  &.secondary.one {
    left: 10%;
    top: 50px;
    width: 100px;
  }
  &.secondary.two {
    left: 3%;
    top: 140px;
    width: 180px;
  }
  &.secondary.three {
    right: 3%;
    top: 50px;
    width: 180px;
  }
  &.secondary.four {
    right: 10%;
    top: 230px;
    width: 100px;
  }

  img {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  @media #{$small-only} {
    &.secondary {
      display: none;
    }
  }
}

