.email-signup-modal {
  text-align: center;
  @media #{$small-only} { padding: 26px 25px 33px 25px; }
  @media #{$medium-up} { padding: 26px 80px 33px 80px; }
  p {
    @media #{$small-only} { margin-bottom: 31px; }
    @media #{$medium-up} { margin-bottom: 25px; }
    font-size: rem-calc(14px);
    line-height: 1.7;
    letter-spacing: 0.5px;
    color: $dark-two;
  }
  p.leadin {
    font-weight: 400;
    font-size: rem-calc(20px);
    line-height: 1.4;
    letter-spacing: 1.5px;
    color: $dark-two;
    @media #{$small-only} { margin-bottom: 16px; }
    @media #{$medium-up} { margin-bottom: 40px; }
    span {
      display: block;
      font-weight: 600;
    }
  }
  .sign-up { 
    @media #{$small-only} { margin-bottom: 80px; }
    @media #{$medium-up} { margin-bottom: 60px; }
    .button img {
      position: relative;
      top: -2px;
    }
  }
  hr {
    width: 173px;
    @media #{$small-only} { margin: 16px auto 25px auto; }
    @media #{$medium-up} { margin: 11px auto 37px auto; }
  }

}