.error-message {
  font-size: 12px;
  text-transform: uppercase;
  color: $alert-color;

  &.top {
    margin-bottom: 2px;
  }
}

input.has-error {
  margin-bottom: 1rem;
  margin-top: 0;
  border-color: $alert-color;
}

.page-error-message {
  padding: 20px 10px;
  position: relative;
  margin-top: 10px !important;
  border: 1px solid $alert-color;
  .message {
    color: $alert-color;
    margin-bottom: 0;
  }

  .close {
    position: absolute;
    right: 0;
    top: -18px;
    color: $alert-color;
  }
}

@media #{$small-only} {
  .page-error-message {
    width: 90%;
  }
}
