.filter-options {
  padding-bottom: 1rem;
}

.filter-dropdown {
  @include button(0, $secondary-color);
  @include dropdown-button(tiny, $info-color, true);
  margin: rem-calc(0 0 0 0);
  border: none !important;
  color: $primary-color;
  font-weight: 500;
  font-size: rem-calc(12);
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 15px;

  a {
    margin-bottom: 0;
  }

  &:hover {
    background: $secondary-color;
  };
}

.filter-tag {
  padding: rem-calc(5 10);
  border: solid 1px $info-color;
  display: inline-block;
  font-size: .75rem;
  & a.close {
    margin-left: rem-calc(30);
  }
}

ul#type-drop, ul#color-drop, ul#pattern-drop, ul#price-drop, ul#fit-drop {
  padding: rem-calc(10);
  & a.clear-all {
    padding-top: rem-calc(3);
    float: right;
    color: $info-color;
    font-weight: 400;
    text-transform: uppercase;
    font-size: rem-calc(10);
  }
}

ul#type-drop, ul#fit-drop, ul#price-drop {
  width: rem-calc(300);
  & li.active {
    border: solid 2px $info-color;
    margin: -2px;
  }
}

ul#color-drop, ul#pattern-drop {
  width: rem-calc(400);
  & label { font-size: rem-calc(10) !important; }
}

.filter select { margin-bottom: 0; }

#search-drop.f-dropdown.open {
  left: 0 !important;
  max-width: 100% !important;
  margin-top: -20px !important;
  border: none;
  padding: 0 $column-gutter / 2;
  input {
    border: 1px solid #000;
    background: url(../images/icons/search-black.svg) no-repeat right 6px center;
    background-size: 20px 20px;
  }
}

.filter {

  .filter-dropdown::after{
    display: none;
  }

  h4 {
    margin: rem-calc(30px 0 0px);
  }
}

.retail-off-canvas-nav {

  .nav-department {
    font-size: rem-calc(12px);
    text-transform: uppercase;
    font-weight: 500;
    list-style-type: none;
    padding-top: 15px;
    margin-left: 0 !important;
  }

  li {
    list-style-type: none;
  }
}

.right-off-canvas-menu {
  border: 1px solid #efefef;

  .right-off-canvas-toggle {
    position: fixed;
    right: 5px;
    top: -5px;
    font-size: rem-calc(30);
    font-weight: 100;
  }

  .button {
    margin-top: 45px;
    font-size: 12px;
    background-color: $callout-color;
    position: absolute;
    width: 100%;
    border: 1px solid #4A90E2;
  }

  .anchor-bottom {
    position: absolute;
  }

  .accordion {
    margin: 25px 0px 15px 0px;
    .accordion-navigation:first-child {
      border-top: 1px solid #e4e4e4;
    }
  }
}

.retail-off-canvas-nav {
  position: relative;

  p {
    font-size: 16px;
    margin: 10px auto 0px 10px;
  }

  .text-link {
    font-size: 10px;
    color: #4a4a4a;
    margin: 10px;
  }

  .product-info-label {

    &::after {
      $x-size: 9px;
      width: $x-size;
      height: $x-size;
      top: 15px;
      right: 10px;
    }
  }

  .product-color {
    width: auto;
    height: 35px;
    border: 1px solid #ccc;
    padding: 2px;
  }

  .thumbnail.active {
    border: 1px solid transparent;
  }

  .filter-select-icon {
    height: 15px;
    width: auto;
    margin-left: -17px;
    margin-right: 5px;
    padding-bottom: 3px;
  }

  .accordion .accordion-navigation > .content.active {
    padding-top: 0 !important;
    border-bottom: 1px solid #efefef;
    margin: 0;

    ul {
      margin: -5px;
    }

    li {
      list-style-type: none;
      padding-bottom: 5px;
      margin-left: 20px;

      a {
        font-size: rem-calc(13);
      }
    }
  }
}
