.filter-options {
  padding-bottom: 1rem;
}

.filter-dropdown {
  @include button(0, $secondary-color);
  @include dropdown-button(tiny, $info-color, true);
  margin: rem-calc(0 0 0 0);
  border: none !important;
  color: $primary-color;
  font-weight: 500;
  font-size: rem-calc(12);
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 15px;

  a {
    margin-bottom: 0;
  }

  &:hover {
    background: $secondary-color;
  };
}

.filter-tag {
  padding: rem-calc(5 10);
  border: solid 1px $info-color;
  display: inline-block;
  font-size: .75rem;
  & a.close {
    margin-left: rem-calc(30);
  }
}

ul#type-drop, ul#color-drop, ul#pattern-drop, ul#price-drop, ul#fit-drop {
  padding: rem-calc(10);
  & a.clear-all {
    padding-top: rem-calc(3);
    float: right;
    color: $info-color;
    font-weight: 400;
    text-transform: uppercase;
    font-size: rem-calc(10);
  }
}

ul#type-drop, ul#fit-drop, ul#price-drop {
  width: rem-calc(300);
  & li.active {
    border: solid 2px $info-color;
    margin: -2px;
  }
}

ul#color-drop, ul#pattern-drop {
  width: rem-calc(400);
  & label { font-size: rem-calc(10) !important; }
}

.filter select { margin-bottom: 0; }

#search-drop.f-dropdown.open {
  left: 0 !important;
  max-width: 100% !important;
  margin-top: -20px !important;
  border: none;
  padding: 0 $column-gutter / 2;
  input {
    border: 1px solid #000;
    background: url(../images/icons/search-black.svg) no-repeat right 6px center;
    background-size: 20px 20px;
  }
}

.filter {

  .filter-dropdown::after{
    display: none;
  }

  h4 {
    margin: rem-calc(30px 0 0px);
  }
}

.retail-off-canvas-nav {

  .nav-department {
    font-size: rem-calc(12px);
    text-transform: uppercase;
    font-weight: 500;
    list-style-type: none;
    padding-top: 15px;
    margin-left: 0 !important;
  }

  li {
    list-style-type: none;
  }
}

.retail-off-canvas-nav .accordion.more-filters .accordion-navigation > .content.active {
  border-bottom: 0px solid transparent !important;
  margin: 0;
}

.right-off-canvas-menu {
  border: 1px solid #efefef;

  .right-off-canvas-toggle {
    position: fixed;
    color: #afafaf;
    right: 5px;
    top: -5px;
    font-size: rem-calc(30);
    font-weight: lighter;
    z-index: 200;
    &.shopping-bag {
      left: 10px;
    }
  }

  .apply-filters {
    background-color: $callout-color;
  }

  .button {
    margin-top: 45px;
    font-size: 12px;
    // background-color: $callout-color;
    position: absolute;
    width: 100%;
    border: 1px solid #4A90E2;
  }

  .anchor-bottom {
    position: absolute;
  }

  .accordion {
    margin: 25px 0px 15px 0px;
    .accordion-navigation:first-child {
      border-top: 1px solid #e4e4e4;
    }
  }

  // More/Secondary Filters
  .accordion.more-filters {
    border: transparent;
    margin-top: -16px;

    .accordion-navigation {
      padding-left: 35px;
      border-bottom: 1px solid #e4e4e4;

      .product-info-label {
        color: #222222;
      }
    }

    .accordion-navigation a {
      border-bottom: transparent;
      color: #8A8A8A;
      margin-left: -15px;
    }

    .accordion-navigation.active > a {
      color: #222222;
    }
  }
}

.retail-off-canvas-nav .accordion .accordion-navigation > .content.active li a {
  color: #222222;
}

.retail-off-canvas-nav {
  position: relative;

  p {
    font-size: 16px;
    margin: 10px auto 0px 10px;
  }

  .text-link {
    font-size: 10px;
    color: #4a4a4a;
    margin: 10px;
  }

  .product-info-label {

    &::after {
      $x-size: 9px;
      width: $x-size;
      height: $x-size;
      top: 15px;
      right: 10px;
    }
  }

  .product-color-swatches {
    margin: 5px auto 10px 10px;

    .thumbnail {
      margin: 0 !important;
      padding: 0 !important;
    }

    .product-color {
      width: 35px;
      height: 35px;
      border: 1px solid #ccc;
      padding: 2px;
      margin-bottom: 5px;
    }
  }

  .thumbnail.active {
    border: 1px solid transparent;
  }

  .filter-select-icon {
    height: 15px;
    width: auto;
    margin-left: -17px;
    margin-right: 5px;
    padding-bottom: 3px;
  }

  // .accordion .accordion-navigation > .content.active {
  //   padding-top: 0 !important;
  //   // border-bottom: 1px solid #efefef;
  //   margin: 0;

  //   ul {
  //     margin: -5px;
  //   }

  //   li {
  //     list-style-type: none;
  //     padding-bottom: 5px;
  //     margin-left: 20px;

  //     a {
  //       font-size: rem-calc(13);
  //     }
  //   }
  // }
}

.product-filters {
  background-color: #EFEFEF;
  padding: 10px 15px;
  margin: 10px;

  .clearall {
    letter-spacing: 1px;
    float: right;
    color: #8A8A8A;
    font-size: 8px;
    margin-top: 5px;
    font-weight: 500;
  }

  .menu-icon {
    letter-spacing: 1px;
    color: #8A8A8A;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
  }
}

// Browse
.browse-header .slick-slide  {
  padding: 0;
}

.browse-header .slick-slider {
  margin-bottom: 0;
}

.browsepage-thumbnails {
  position: relative;
}

.browsepage-thumbnails .made-in-the-usa {
  z-index: 250;
  background-color: rgba(120, 120, 120, .75);
  position: absolute;
  width: 100%;
  color: white;
  bottom: 0;
  text-align: center;
  padding: rem-calc(8px 5px 5px 5px);
  margin: 0;

  h1 {
    padding: 0px;
    margin: 0;
    text-transform: uppercase;
    font-size: rem-calc(11px);
    color: white;
    font-weight: bold;
  }

  p {
    padding: 0px;
    margin: 0;
    font-size: rem-calc(12px);
  }
}

.product-results {
  color: #8A8A8A;
  font-size: rem-calc(13px);
  margin: 15px auto 10px auto;
}

.browse-header {
  margin-bottom: 0;

  .product-name {
    font-size: rem-calc(14px);
    padding-bottom: 0;
  }

  .product-price {
    margin-bottom: 0;
    font-size: rem-calc(13px);
    color: #747474;

    .product-price-discount {
      color: #747474;
    }
  }

  .rating {
    margin-bottom: 0;
  }

  .text-link {
    color: #4a4a4a;
    font-weight: normal;
    font-size: rem-calc(10px);
  }

  .promotion-callout {
    margin-top: rem-calc(10px);
  }
}

.product-price-orig {
  font-size: 1rem;
}

.browse-page-title {
  padding: 10px;
  font-size: rem-calc(16px);
  text-align: center;
  border-bottom: 1px solid #efefef;
}

.browse-page-product-recommendations {
  border-top: 1px solid #efefef;
  padding: rem-calc(35px 20px 0px 20px);

  .recommended-items, .recommended-thumbnail-price {
    margin-bottom: 0;
  }
}

#search-icon {
  opacity: 1.0;

  &.is-active {
    opacity: 0.25;
  }
}
.search-tool {
  display: none;
  background-color: #000000;
  padding: 10px 0px 0px 0px;

  input {
    font-size: rem-calc(12px);

    &:focus {
      background-color: #ffffff !important;
      border-color: #ffffff;
    }
  }
}
