.footer {
  border-top: 1px solid #eee;
  margin-top: 2rem;
}

.contact {
  text-align: center;
  padding: 2rem;
}

.contact-method {
  display: inline-block;
  margin-left: 1rem;
  margin-right: 1rem;
}

.footer-categories {
  list-style-type: none;
  float: left;
  margin-right: 2rem;

  .category .title {
    font-weight: 500;
  }
}

button.secondary.postfix {
  background-color: $warm-grey-two;
  color: white;

  &:hover,
  &:focus,
  &:active, {
    background-color: lighten(black, 15%);
    color: white;
  }
}

.footer .sign-up.row {
  margin-bottom: 2rem;

  input {
    margin-bottom: 0;
  }

  .legal {
    margin-top: 3.5rem;
  }
}

.footer-copyright {
  margin: 1rem 0;
  text-align: center;
  ul {
    li {
      font-size: rem-calc(10);
      border-right: 1px solid $dark;
      padding: 0 10px 0 0 ;
    }
  }
}
