input[type='text'] {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  height: auto;
}

::-webkit-input-placeholder {
  text-transform: uppercase;
  opacity: 0.8;
  font-size: 12px;
  letter-spacing: 1px;
}

::-moz-input-placeholder {
  text-transform: uppercase;
  opacity: 0.8;
  font-size: 12px;
  letter-spacing: 1px;
}

.postfix.button {
 height: 43px;
 padding-top: 3px;
 left: -1px;
}

input[type='checkbox'].checkbox-style {
  position: absolute;   
  left: -9999px;
}

label.checkbox-style {
  position: absolute;
  left: rem-calc(10);
  top: rem-calc(5);

}

.checkbox-label {
  font-size: 12px;
  padding-left: 8px;
}

input[type='checkbox'].checkbox-style:after {
  left: 9998px;
  opacity: 1;
  display: inline-block;
  position: absolute;
  top: -3px;
  bottom: 0;
  content: '';
  opacity: 1;
  background: #fff;
  border: solid 1px $light-gray;
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  padding: 2px;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
}

input[type='checkbox'].checkbox-style:checked:after {
  content: "";
  background-image: url("../images/icons/check-white.svg"); 
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center; 
  color: $primary-color;
  background-color: $primary-color;
  border: 1px solid $primary-color;
}

.form-main {

}

.form-options {
  position: relative;
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 20px;
  li {
    padding-bottom: 10px;
  }
  label {
    position: relative;
    margin-top: 2px;
    padding-left: 16px;
    font-size: 12px;
    z-index: -1;
  }
}

label.form-options-label {
  margin-top: -10px;
}

input[type="checkbox"] + label{
  vertical-align: middle;
}

// inputs

.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 0 0 1rem 0;
  width: 100%;
  vertical-align: top;
/**/
  overflow: hidden;
}

input.input-field {
  display: block;
  border: none;
  border-radius: 0;
  -webkit-appearance: none; /* for box shadows to show on iOS */
/**/
  position: absolute;
  z-index: 100;
  padding: 1.8rem 0.75rem 0;
  width: 100%;
  background: transparent;
  color: #000;
  font-size: 0.8em;
  box-shadow: none !important;
}

input.input-field:focus {
  outline: none;
}

.input-label {
  background: red;
  display: inline-block;
  float: right;
  color: $info-color;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 80%;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
/**/
  padding: 0.2rem 0;
  width: 100%;
  height: 100%;
  background: #fff;
  text-align: left;
}

.input-label-content {
  position: relative;
  display: block;
  width: 100%;
/**/
  padding: 0.8rem 1.2rem;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.3s, color 0.3s;
  transition: transform 0.3s, color 0.3s;
  text-rendering: geometricPrecision;
}

.input-label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  -webkit-transition: border-width 0.3s, border-color 0.3s;
  transition: border-width 0.3s, border-color 0.3s;
}

input.input-field:focus + .input-label::before,
.input-filled .input-label::before {
  border-width: 1px;
  border-color: #000;
}

input:focus {
  background: rgba(255,255,255,0) !important;
  box-shadow: none !important;
}
input.input-field:focus + .input-label .input-label-content,
.input-filled .input-label .input-label-content {
  color: $info-color;
  -webkit-transform: translate3d(0, -0.65em, 0) scale3d(0.7, 0.7, 1);
  transform: translate3d(0, -0.65em, 0) scale3d(0.7, 0.7, 1) translateZ(1px);
}
