.account-help {
  .help-channel {
    margin-bottom: 1rem;
    @include clearfix;
    .icon {
      width: 10%;
      float: left;
      margin-right: 5%;
      text-align: center;
      opacity: 0.4;
    }
    .icon img { max-width: 32px; }
    .content {
      float: left;
      width: 70%;
      h5 { margin: -1px 0 6px !important; }
    }
  }
}

.account-help.horizontal {
  .help-channel {
    float: left;
    width: 33%;
    
    .icon {
      width: 20%;
    }
    
    .content {
      width: 75%;
    }
  }
}