@mixin fi-icon() {
  font-family: "foundation-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  text-decoration: inherit;
}

.social-icons {
  & a:hover { opacity: 0.85; }
  img { width: 30px; }
  p { padding-top: 5px; }
  @media #{$small-only} {
    img {
      width: 26px;
      margin-right: 0px;
    }
  }
}

.save-look {
  a img {
    width: 11px;
    padding-bottom: 2px;
  }
}