.shopping-bag,
.checkout-tabs-content {
  .order-summary {
    border: 1px solid $light-gray;
    padding: 10px 30px;
    width: 80%;
    position: absolute;
    right: 0;
  }

  .order-summary-title {
    font-size: 11px;
    opacity: 0.5;
  }

  .order-summary-list {
    list-style:none;

    li {
      text-align: right;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 11px;
    }

    .total {
     border-top: 1px solid $light-gray;
       // border-bottom: 1px solid $light-gray;
     }

     .list-title {
      text-transform: uppercase;
      opacity: 0.5;
      float: left;
    }

    .value {
      margin-left: 50px;
      font-size: 11px;
    }
  }

  .or {
    text-align: center;
    opacity: 0.5;
    text-transform: uppercase;
    margin-bottom: 0;
  }
}

.cta-title,
.cta-subhead {
  display: block;
}

.cta-subhead {
  font-size: 10px;
}

.guest-cta,
.checkout-cta {
  width: 100%;
}


.order-summary {
  .checkout-cta {
    border: 1px solid $callout-color;
  }
  
  .guest-cta {
    border: 1px solid $callout-color;
    width: 100%;
    background: white;
    color: $callout-color;
  }
}

.order-summary {
  .paypal-button {
    transform: translateX(-50%);
    left: 50%;
    position: relative;
  }
}

.checkout-tabs-content {
  .order-summary-sticky {
    background: white;
    z-index: 1;
    width: 270px;
    top: 75px;
    right: auto;
    position: fixed;
    margin-left: 50px;
  }
}
