@media #{$small-only} {
  .step-circle {
    @include label(rem-calc(14), rem-calc(20), $primary-color, 50%);
    width: 40px;
    height: 40px;
    font-family: "Garamond", "Times", serif;
    line-height: 13px;
  }
  .how-it-works {
    
    h3 {
      margin-top: 0.9rem;
    }
    
    .button {
      margin: 0;
    }
  }
  .prom-rep-prizes .step-circle {
    width: 60px;
    height: 60px;
    line-height: 30px;
    font-size: 1.5rem;
  }
  
}
@media #{$medium-up} {
  .how-it-works {
    position: relative;
    
    &::before {
      border-bottom: 1px dashed $primary-color;
      width: 80%;
      position: absolute;
      top: -40px;
      left: 10%;
      content: "";
      z-index: -1000;
      transform: translateZ(0);
    }
    
    .button {
      margin: 0;
    }
    
    p {
      margin-bottom: 0.5em;
    }
  }
  .how-it-works-step { 
    text-align: center; 
    margin-bottom: 1rem;
    
    @media #{$small-only} {
      margin-bottom: 2rem;
    }
  }
  .step-circle {
    @include label(rem-calc(27), rem-calc(50), $primary-color, 50%);
    font-family: "Garamond", "Times", serif;
    width: 80px;
    height: 80px;
    line-height: 80px;
    padding: 0; 
    font-size: 2.125rem;
  }
}

.main-hero {
  width: 100%;
  display: block;
  background: url("../images/main-hero-image.jpg") no-repeat center center;
  background: linear-gradient(to right, rgba(0,0,0,0.4), rgba(0,0,0,0) ), url("../images/main-hero-image.jpg") no-repeat 30% 20%;
  background-size: cover;
  padding: rem-calc(150 50 180 50);
  margin: rem-calc(0 0 24 0);
  
  @media #{$small-only} {
    background: url("../images/main-hero-image.jpg") no-repeat center center;
    background-size: cover;
    padding: rem-calc(200 50 200 50);
    margin: rem-calc(0 0 0 0);
  }

  @media #{$xlarge-up} {
    background: linear-gradient(to right, rgba(0,0,0,0.4), rgba(0,0,0,0) ), url("../images/main-hero-image.jpg") no-repeat 30% 20%;
    background-size: cover;
    padding: rem-calc(200 50 200 50);
    margin: rem-calc(0 0 0 0);
  }
}

.wedding-main-hero {
  background: url("../images/wedding-hero-image.jpg") no-repeat center center;
  background: linear-gradient(to right, rgba(0,0,0,0.4), rgba(0,0,0,0) ), url("../images/wedding-hero-image.jpg") no-repeat 30% 20%;
  background-size: cover;
  padding: rem-calc(150 50 180 50);
  margin: rem-calc(0 0 24 0);
  
  @media #{$small-only} {
    background: url("../images/wedding-hero-image.jpg") no-repeat center center;
    background-size: cover;
    padding: rem-calc(200 50 200 50);
    margin: rem-calc(0 0 0 0);
  }
  @media #{$xlarge-up} {
    background: linear-gradient(to right, rgba(0,0,0,0.4), rgba(0,0,0,0) ), url("../images/wedding-hero-image.jpg") no-repeat 30% 20%;
    background-size: cover;
    padding: rem-calc(200 50 200 50);
    margin: rem-calc(0 0 0 0);
  }
}

// homepage
.secondary-hero {
  padding: rem-calc(120 50 120 50);
  margin: rem-calc(10 0 25 0);
  
  @media #{$small-only} {
    padding: rem-calc(200 50 200 50);
    margin: rem-calc(0 0 0 0);
  }
}

.secondary-hero-right-overlay1 { 
  background: url("../images/hero-image1.jpg") no-repeat center center;
  background: linear-gradient(to left, rgba(0,0,0,0.4), rgba(0,0,0,0) ), url("../images/hero-image1.jpg") no-repeat center center;
  background-size: cover;

  @media #{$small-only} {
    background: url("../images/hero-image1.jpg") no-repeat center center;
    background-size: cover;
  }
}

.secondary-hero-right-overlay {
  background: url("../images/hero-image2.jpg") no-repeat center center;
  background: linear-gradient(to left, rgba(0,0,0,0.4) , rgba(0,0,0,0) ), url("../images/hero-image2.jpg") no-repeat center center;
  background-size: cover;
  
  @media #{$small-only} {
    background: url("../images/hero-image2.jpg") no-repeat center center;
    background-size: cover;
  }
}

.secondary-hero-left-overlay {
  background: url("../images/hero-image3.jpg") no-repeat center center;
  background: linear-gradient(to right, rgba(0,0,0,0.4), rgba(0,0,0,0) ), url("../images/hero-image3.jpg") no-repeat center center;
  background-size: cover;
  
  @media #{$small-only} {
    background: url("../images/hero-image3.jpg") no-repeat center center;
    background-size: cover;
  }
}

section.main-hero.prom {
  background-image: url("../images/hero-image3.jpg");
  background-size: cover;
}

h1.page-intro {
  font-size: rem-calc(40);
  text-align: center;
  margin-top: rem-calc(30);
  margin-bottom: rem-calc(30);
}

hr { 
  margin: rem-calc(29 0 30 0); 
  border-color: #eee; 
}
hr.tight { margin: rem-calc(10 0 10 0); }

.customer-looks {
  img {
    padding-bottom: 0.6rem;
  }
}

.page-content { 
  margin-top: 2rem;
  
  p {
    margin-top: 1em;
  }
  
  @media #{$small-only} {
     margin-top: 0.5rem;
  }

  .expand-small {
    @media #{$small-only} {
      display: block;
      padding: 1em;
      font-size: 1em;
    }
  }
}

.prom-rep-prizes {
  text-align: center;
  margin-bottom: 1rem;
  small { font-size: 70%; }
  .step-circle { margin: 1rem auto 2rem; }
}

.why-create-account {
  
  img {
    width: 28px;
    height: 28px;
    float: left;
  }
  
  p { 
    padding-left: 36px; 
  }
  
  li { 
    @include clearfix; 
  }
}

.benefits {
  
  .accordion {
    margin-bottom: 10px;
  }
  
  h3 {
    color: white;
  }
  
  .button {
    margin: 0;
  }
  
  @media #{$small-only} {
    
    .accordion .accordion-navigation.active > a{
      padding: 12em 0em 0.5em 0em;
    }
    
    .accordion .accordion-navigation > .benefit-callout-1 {
      background: url("../images/store.png") no-repeat center center;
      background: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0)), url("../images/store.png") no-repeat center center;
      background-size: cover;
      padding: 2em 0em 2em 0em;
      bottom: 0;
    }
    
    .accordion .accordion-navigation > .benefit-callout-2 {
      background: url("../images/quality-and-fit.jpg") no-repeat center center;
      background: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0) ), url("../images/quality-and-fit.jpg") no-repeat center center;
      background-size: cover;
      padding: 2em 0em 2em 0em;
      bottom: 0;
    }
    
    .accordion .accordion-navigation > .benefit-callout-3 {
      background: url("../images/assortment.jpg") no-repeat center center;
      background: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0)), url("../images/assortment.jpg") no-repeat top center;
      background-size: cover;
      padding: 2em 0em 2em 0em;
      bottom: 0;
    }
  }

  @media #{$medium-up} {
    .accordion .accordion-navigation > .content, .accordion dd > .content {
      display: block;
    }
    
    .accordion .accordion-navigation > .benefit-callout-1 {
      background: url("../images/store.png") no-repeat center center;
      background: linear-gradient(to top, rgba(0,0,0,0.8) 0% , rgba(0,0,0,0) 50% ), url("../images/store.png") no-repeat center center;
      background-size: cover;
      padding: 8em 0em 0.3em 0em;
      bottom: 0;
    }
    
    .accordion .accordion-navigation > .benefit-callout-2 {
      background: url("../images/quality-and-fit.jpg") no-repeat center center;
      background: linear-gradient(to top, rgba(0,0,0,0.8) 0% , rgba(0,0,0,0) 50% ), url("../images/quality-and-fit.jpg") no-repeat center center;
      background-size: cover;
      padding: 8em 0em 0.3em 0em;
      bottom: 0;
    }
    
    .accordion .accordion-navigation > .benefit-callout-3 {
      background: url("../images/assortment.jpg") no-repeat center center;
      background: linear-gradient(to top, rgba(0,0,0,0.8) 0% , rgba(0,0,0,0) 50% ), url("../images/assortment.jpg") no-repeat top center;
      background-size: cover;
      padding: 8em 0em 0.3em 0em;
      bottom: 0;
    }
  }
}

.perfect-look-callout {
  .button {
    margin-right: 1em;
  }
}

.expand-small {
  @media #{$small-only} {
    display: block;
    padding: 1em;
    font-size: 1em;
    width: 100%;
  }
}
