.pdp-header {
  &.back-link {
    a {
      margin-bottom: 20px;
    }
  }
}

.pdp-thumbs {
  padding-top: 1.2rem;
  margin-left: 0.05rem;
  display: none;
  @media #{$medium-up} {
    display: block;
    img { 
      width: 75px; 
    }
  }
  .active {
  	border: 3px solid $primary-color;
  }
}

.product-name {
  margin: 0.5rem 0 0 0;
}

.product-info, .customize-modal {
  h1 {
    margin-bottom: 6px;
  }

  h4 {
    margin: 0 0 8px 0;
  }

  .price-starting {
    font-size: 1.25rem;
    font-weight: 500;
    margin: -7px 0 0 0;
  }

  .price-shown {
    font-size: 0.875rem;
    font-weight: 500;
    color: #999;
  }

  .package-details {
    list-style-type: none;
    margin-left: 0;
    line-height: 1.2rem;
    li { margin-bottom: 0.5rem; }
  }

  .two-buttons a {
    width: 49%;
    padding: 0.875rem 0 0.75rem 0;
  }
}

.product-info {
  p, li { font-size: 13px; }
  @media #{$small-only} {
    li {
      margin-right: 10px;
    }
  }
}

.accordion .accordion-navigation > a, .accordion dd > a {
    padding: 0;
    margin: 0;
    &:hover {
      background-color: #fff;
    }
    &:active {
      background-color: #fff;
    }
}

.accordion .accordion-navigation > .content, .accordion dd > .content {
  padding: 10px 0;
}

@media #{$small-only} {
  .accordion .accordion-navigation > {
    a { position:relative; z-index: 10;}
    .content {
      overflow: hidden;
      padding:0 0.9375rem;
      height:0; display:block;
      transition: all .5s ease;
      &.active { height: auto; padding: 0.9375rem;}
    }
  }
}

.product-info {
  ul {
    margin: 0;
  }
}

.custom.look.item {
  .thumbnail {
    padding: 10px;
    border: 1px solid #eee;
  }
}

.flush-bottom {
  margin-bottom: 0;
}

//generic labels for all sections.
.section-label {
  margin-right: 4px;
  margin-bottom: 12px;
}

.size-label {
  margin-top: 2px;
}

.big-and-tall-link {
  margin-bottom: 5px;
  font-weight: 300;
  position: relative;
  top: 0;
}

.color-label {
  @extend .section-label;
  display: inline-block;
}

.color-name {
  display: inline-block;
}

.product-color {
  $color-thumbnail-size: 40px;
  width: $color-thumbnail-size;
  height: $color-thumbnail-size;
}

.thumbnail {
  //overriding default block grid 
  padding: 3px;
  display: inline-block;

  &.active {
    border: 1px solid black;
  }
}

.product-total-label {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}

.product-total {
  padding-top: 5px;
}

.product-price {
  font-weight: 400;
}

.product-quantity {
  width: 70px !important;
  height: 30px;
}

.quantity-label {
  margin-bottom: 10px;
  margin-top: 6px;
}

.product-info-accordion {
  border-bottom: 1px solid #DDDDDD;
  list-style: none;
}

.product-info-label {
  $product-info-label-padding: 20px;
  font-size: 12px !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  position: relative;


  &::after {
    $x-size: 15px;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    background: url(../images/icons/plus-black.svg);
    width: $x-size;
    height: $x-size;
    transition: all 0.3s ease-out;
    transform: rotate(0deg);
  }
}

.product-info-label[aria-expanded="true"] {
  background: white !important;
 &::after {
  transition: all 0.3s ease-out;
  transform: rotate(45deg);
 }
}

.share-label {
  list-style: none;
  display: inline-block !important;
  &::after {
    background: none;
  }
}

.accordion .accordion-navigation {
  .share-icon {
    display: inline-block;
  }
}

.product-info-label-caption {
  font-size: 12;
  text-transform: none;
  letter-spacing: normal;
}

.product-info-accordion {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  .save-icon {
    width: 17px;
    height: 17px;
    margin-right: 5px;
    display: inline-block;
  }
  .text-link.save-look {
    display: inline-block;
    font-size: 12px !important;
  }
}

.accordion .product-info-accordion > .product-info-label {
  border-bottom: none;
}

.sizing-chart {
  width: 100%;
}

.sizing-intro {
  font-weight: 500;
}

.product-description-content {
  ul {
    margin-left: 16px;
  }
}



