.promotion-callout {
  color: $callout-color;
  font-weight: 500;
  font-size: rem-calc(12);
  @media #{$medium-up} {
    margin-bottom: 0;
  }
}

.promotion-callout-top, .promotion-callout-dismissible {

  &.closable {
    background: #F1F1F1;
    margin-bottom: 0;
    h1, p {
    color: #222222;
    }

  }
  text-align: center;
  color: white;

  h1 {
    margin: 0;
    // font-weight: bold;
    font-weight: 300;
    font-size: rem-calc(12px);
    color: white;
    text-transform: uppercase;
    font-family: $font-family-sans-serif;
  }

  h2 {
    margin: 0;
    font-weight: 600;
    font-size: rem-calc(14px);
    color: white;
    text-transform: uppercase;
  }

  p {
    margin: 0;
    font-size: rem-calc(18px);
    // font-size: rem-calc(12px);
    font-weight: 300;
    line-height: 1.3;
    color: $white;

    span {
      text-transform: uppercase;
      font-weight: 600;
    }
  }
}

.promotion-callout-top {
  position: relative;
  width: 100%;
  background-color: $callout-color-dark;
  color: white;
  padding: rem-calc(8px);
  padding: rem-calc(14px);
}

.promotion-callout-dismissible {
  position: fixed;
  z-index: 300;
  width: 100%;
  background-color: $callout-color-dark;
  color: white;
  padding: rem-calc(15px 0px 10px 0px);

  h1 {
    font-size: rem-calc(12px);
    margin-bottom: rem-calc(5px);
  }

  p {
    font-size: rem-calc(16px);
  }
}

.promotion-callout-dismissible.alert-box {
  margin-bottom: 0;

  .close {
    opacity: 1.0;
    font-size: rem-calc(30px);
    font-weight: 100;
    position: absolute;
    top: rem-calc(15px);
    right: 0px;
    color: white;
  }
}

.promotion-callout-dismissible.bottom {
  bottom: 0;
}

.promotion-callout-dismissible.top {
  position: relative;
}

.promo-seperate-vertical {
  margin-top: 20px;
  margin-bottom: 20px;
}
.promo-seperate-horizontal {
  .columns {
    &:nth-child(1) { padding-right: 10px; }
    &:nth-last-child(1) { padding-left: 10px; }
  }
}