.content.border-top {
    border-top: solid 1px $warm-grey-three;
}

.reviews {
  list-style: none;
  margin-left: 0;
}

.review {
  color: #333333;
  margin-bottom: 50px;

  li { font-size: rem-calc(11px); }

  .recommendation {
    font-size: 13px;
    line-height: 1.5;

  }

  .title {
    font-weight: 400;
    font-size: rem-calc(20px);
    color: #262626;
    margin-bottom: 10px !important;
  }

  .stars {
    display: inline-block;
    white-space: nowrap;
  }

  .author, .time-stamp {
    display: inline-block;
    font-family: $font-family-sans-serif;
    font-weight: 400;
    font-size: rem-calc(12px);
    letter-spacing: 1px;
    color: #333333;
    text-transform: none;
    line-height: 1.0;
  }
  .author {
    margin: 0 0 0 10px;
  }
  .author::after {
    content: '|';
    margin-left: 10px;
    margin-right: 10px;
  }
  .attributes {
    list-style: none;
  }
}

.write-review-cta {
  margin-top: 15px;
}

.filters-area {
  background-color: #eeeeee;
  margin-top: 25px;
  margin-bottom: 25px;
  .page {
    padding: 11px 11px 11px 11px;

  }
  .sort {
    float: right;
    position: relative;
    background:#FFF;
    padding: 15px 36px 13px 13px;
    border: solid 1px #cacaca;
    font-weight: 500;
    font-size: rem-calc(12px);
    letter-spacing: 2px;
    color: $greyish-brown;
    text-transform: uppercase;
    &::after {
      right: 15px;
      top: 22px;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #ADADAD;
      content: "";
      position: absolute;
      transform: rotate(90deg);
    }
  }
}

.next-pages {
  .next,
  .prev {
    opacity: 0.4;

    &.is-active {
      opacity: 1;
      color: $callout-color;
    }
  }
}
