.shopping-bag {
  padding-top: 1rem;
}

.shopping-bag-header {
  border-bottom: 1px solid $light-gray;
}

.shopping-bag-title {
  @extend .product-info-label;
  margin-bottom: 0;
  &::after {
    display: none;
  }
}

.item-count {
  text-transform: uppercase;
  color: #8a8a8a;
  font-size: 10px;
  letter-spacing: 0;
}


@media #{$small-only} {
  .shopping-bag {
    padding-top: 0;
  }

  .shopping-bag-title {
    margin-left: 0;
    padding: 1rem;
    padding-left: 0;
  }

  .shopping-bag-subtotal {
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 0;
    text-align: center;
  }

  .shopping-bag-subtotal-price {
    letter-spacing: 0;
    font-weight: 400;
    text-align: center;
    margin-bottom: 4px;
  }
}

p.subtotal {
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
  margin-top: 0;
  
}

.bag-total {
  margin-right: 10px; 
  margin-top: 3px;

  .product-price {
    margin-top: 0px;
    line-height: 0.7;
    font-size: 15px;
  }
}

.bag-item {
  padding: 12px;
  border-bottom: 1px solid $light-gray;
  &.last {
    border-bottom: 0;
  }
}


.bag-promo {
  text-align: right;

  .text-link {
    font-size: 11px;
  }
}

.bag-item .price-and-qty {
  top: 0;
  right: 0;
  position: absolute;

  .product-price,
  input {
    display: inline-block;
  }

  .product-price {
    margin-left: 1rem;
  }

  .clearance,
  .quantity {
    color: #8a8a8a;
    font-size: 12px;
    text-align: right;
    margin-bottom: 0;
  }
}

.bag-item-detail {
  .product-name {
    font-size: rem-calc(15);
    padding-left: 10px;
  }

  .low-stock {
    padding-left: 10px;
    margin-bottom: 0;
    color: $callout-color;
    font-size: 12px;
    font-weight: normal;
  }

  .product-quantity {
    margin-left: 12px;
    margin-bottom: 10px;
  }
}

.bag-item-selections {
  list-style-type: none;
  margin-bottom: 0.7rem;

  li {
    padding-left: 10px; 
    color: #8a8a8a;
    font-size: 12px;
  }

  &.checkout-review {
    float: left;
  }
}

.promo-callout-container {
  padding: 0 12px 0 12px;
  .promotion-callout {
    margin-left: 0px;
    font-size: rem-calc(12);
  }
  .text-link {
    margin-left: 0px;
  }
}

.bag-tag {
  background-color: $primary-color;
  text-transform: uppercase;
  color: $white;
  letter-spacing: 1px;
  margin-top: 5px;
  padding: 2px 0 2px 0;
  p {
    font-size: rem-calc(10);
    margin: 0;
    text-align: center;
  }
  .rental-name {
    text-transform: none;
    letter-spacing: 0;
    margin-top: -3px;
  }
}

.bag-qty-price {
  .product-total {
    margin-top: 0px;
  }
  .product-price {
    font-size: 15px;
  }
}

.bag-edit-links {
  margin-left: 12px;
  margin-right: 20px;
  float: left;
}

@media #{$small-only} {
  .bag-edit-links {
    float: none;
  }

  .promotion-callout {
    text-align: left;
    padding-left: 12px;
    margin-top: 12px;
  }

  .shopping-bag .order-summary {
    border: none;
    width: 100%;
    padding: 0;
  }

  .shopping-bag-ctas {
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 100%;

    .button {
      float:left;
      width: 50%;
      margin-bottom: 0;
      transition: all 0.3s ease;
    }
    
    .checkout-cta {
      &:hover {
        opacity: 1;
        background: darken($callout-color, 15%);
        border-color: darken($callout-color, 15%);
        transition: all 0.3s ease;
      }
    }
    .guest-cta {
      &:hover {
        opacity: 1;
        background: darken(white, 5%);
        border-color: darken($callout-color, 15%);
        transition: all 0.3s ease;
      }
    }
  }
}

.shopping-bag.accordion {
  padding-top: 5px;
  a {
    padding-left: 0;
    padding-right: 0;

    &::after {
      top: 15px;
    }
  }

  .content.active {
    padding: 0;
  }
}

.shopping-bag-recommendations {
  margin-top: 2rem;
}

.shopping-bag-upsell {
  input {
    margin-bottom: 0;
  }

  .shopping-bag-upsell-label {
    margin-left: 0;
    font-size: 12px;
  }
}
