.shopping-bag-title {
  margin-bottom: 0;
  border-bottom: 1px solid $light-gray;
} 

// type _style-advice.scss
.item-count {
  text-transform: uppercase;
  color: #8a8a8a;
  font-size: 10px;
}

p.subtotal {
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
  margin-top: 0;
  
}

.bag-total {
  margin-right: 10px; 
  margin-top: 3px;
  .product-price {
    margin-top: 0px;
    line-height: 0.7;
    font-size: 15px;
  }
}

.bag-item {
  padding: 12px;
  border-bottom: 1px solid $light-gray;
  &.last {
    border-bottom: 0;
  }
}

.bag-items {
  min-height: 70vh;
}

.bag-promo {
  text-align: right;
}

.bag-item .price-and-qty {
  top: 0;
  right: 0;
  position: absolute;

  .product-price,
  input {
    display: inline-block;
  }

  .product-price {
    margin-left: 1rem;
  }
}

.bag-item-detail {
  .product-name {
    margin-top: -2px;
    font-size: rem-calc(15);
    padding-left: 10px;
  }

  .product-quantity {
    margin-left: 12px;
    margin-bottom: 10px;
  }
}

.bag-item-selections {
  list-style-type: none;
  margin-bottom: 0.7rem;
  li {
    padding-left: 12px; 
    color: #8a8a8a;
    font-size: 12px;
  }
  &.checkout-review {
    float: left;
  }
}


.promo-callout-container {
  padding: 0 12px 0 12px;
  .promotion-callout {
    margin-left: 0px;
    font-size: rem-calc(12);
  }
  .text-link {
    margin-left: 0px;
  }
}

.bag-tag {
  background-color: $primary-color;
  text-transform: uppercase;
  color: $white;
  letter-spacing: 1px;
  margin-top: 5px;
  padding: 2px 0 2px 0;
  p {
    font-size: rem-calc(10);
    margin: 0;
    text-align: center;
  }
  .rental-name {
    text-transform: none;
    letter-spacing: 0;
    margin-top: -3px;
  }
}

.bag-qty-price {
  .product-total {
    margin-top: 0px;
  }
  .product-price {
    font-size: 15px;
  }
}

.bag-edit-links {
  margin-left: 12px;
  margin-right: 20px;
  float: left;
}

.shopping-bag {
  padding-top: 1rem;

  .order-summary {
    border: 1px solid $light-gray;
    padding: 10px 30px;
    width: 80%;
    position: absolute;
    right: 0;

  }

  .order-summary-title {
    font-size: 11px;
    opacity: 0.5;
  }

  .order-summary-list {
    list-style:none;

    li {
      text-align: right;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 11px;
    }

    .total {
       border-top: 1px solid $light-gray;
       border-bottom: 1px solid $light-gray;
    }

    .list-title {
      text-transform: uppercase;
      opacity: 0.5;
      float: left;
    }

    .value {
      margin-left: 50px;
      font-size: 11px;
    }
  }

  .or {
    text-align: center;
    opacity: 0.5;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  .checkout-cta {
    width: 100%;
    border: none;
  }
}

.shopping-bag.accordion {
  padding-top: 5px;
  a {
    padding-left: 0;
    padding-right: 0;

    &::after {
      top: 15px;
    }
  }

  .content.active {
    padding: 0;
  }

}

