.style-advice {
  width: 100%;
  @include panel();
  padding: 1.5rem;
  border: 1px solid $primary-color;
  background: white;
  text-align: center;
  display: table;
  .center-vertical {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
  }
}

